
.container_booking {
    max-width: 550px;
    margin: 30px auto;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 20px -13px 20px 13px rgba(0, 0, 0, 0.479);
}

.heading_booking {
    text-align: center;
    font-size: 4rem;
    margin-bottom: 30px;
    color: #333;
}

.booking-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 20px;
}

.form-group-inline {
    display: flex;
    align-items: center;
  }
  
.form-group-inline .form-group {
    margin-right: 20px; /* Adjust the margin between form groups */
  }
  

label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
    font-size:medium;
}

input[type="text"],
input[type="email"],
input[type="date"],
input[type="number"],
input[type="phone"],
textarea,
select {
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: rem;
    transition: border-color 0.3s ease;
    background-color: #f9f9f9;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="date"]:focus,
input[type="number"]:focus,
input[type="phone"],
textarea:focus,
select:focus {
    border-color: #007bff;
}

textarea {
    resize: vertical;
}

.select-wrapper {
    position: relative;
}

.select-wrapper::after {
    content: "\25BC";
    font-size: 12px;
    color: #555;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
}

.submit-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1.
}